:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgba(65, 66, 68, 0.25);
    --blur-theme: #cfcfd0;
    --entry: rgba(65, 66, 68, 0.25);
    --primary: green;
    --secondary: blue;
    --tertiary: rgba(204, 0, 204, 1);
    --quaternary: rgba(204, 112, 0, 1);
    --content: black;
    --flame: black;
    --hljs-bg: rgba(65, 66, 68, 0.25);
    --code-bg: rgba(65, 66, 68, 0.25);
    --border: rgba(65, 66, 68, 0.25);
}

.dark {
    --theme: white;
    --blur-theme: white;
    --entry: white;
    --primary: black;
    --secondary: black;
    --tertiary: black;
    --quaternary: black;
    --content: black;
    --flame: white;
    --hljs-bg: white;
    --code-bg: white;
    --border: white;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
