.nav {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
    /* max-width: calc(var(--nav-width) + var(--gap) * 2); */
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    /* line-height: var(--header-height); */
    z-index: 3;
}

.blurry {
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 31px;
    margin-bottom: 19px;
    width: 25px;
    height: 25px;
    background-color: var(--reverse-theme);
    filter: blur(0.5em);
    z-index: 2;
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

.logo {
    flex-wrap: inherit;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
    background-color: red;
}

body:not(.dark) #sun {
    display: none;
    background-color: blue;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: 16px;
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
