/* ~/~ begin <<README.md#assets/css/common/post-entry.css>>[init] */
.left-entry {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(50%);
    z-index: 2;
    /* it needs to be above the right side */
    color: green !important;
}
/* ~/~ end */
/* ~/~ begin <<README.md#assets/css/common/post-entry.css>>[1] */
.right-entry {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    left: 0;
    width: calc(50%);
    margin-left: calc(50%);
}
/* ~/~ end */
/* ~/~ begin <<README.md#assets/css/common/post-entry.css>>[2] */
.post-content {
  font-size: 12px;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 20px;
}
/* ~/~ end */
/* ~/~ begin <<README.md#assets/css/common/post-entry.css>>[3] */
.entry-header h2 {
  font-size: 15px;
  margin-left: 20px;
}

.entry-content {
  margin: 8px 0;
  color: var(--secondary);
  font-size: 12px;
  line-height: 1.6;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-left: 20px;
}

.entry-footer {
  color: var(--secondary);
  font-size: 10px;
  margin-left: 20px;
  margin-top: var(--content-gap);
}

.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.entry-cover,
.entry-isdraft {
  font-size: 14px;
  color: var(--secondary);
}

.entry-cover {
  margin-bottom: var(--gap);
  text-align: center;
  height: 100vh;
  width: 50vw;
  overflow: hidden;
}

.entry-cover img {
  /* border-radius: var(--radius); */
  pointer-events: none;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.entry-cover a {
  color: var(--secondary);
  /* box-shadow: 0 1px 0 var(--primary); */
  text-decoration: wavy;
}
/* ~/~ end */
/* ~/~ begin <<README.md#assets/css/common/post-entry.css>>[4] */
.experience {
  position: absolute;
  top: -2em;
  left: 0;
  margin-left: 30vw;
  width: 65vw;
  padding-left: 2em;
}

.info {
  width: 30vw;
}
/* ~/~ end */
