.first-entry {
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 320px;
    margin: var(--gap) 0 calc(var(--gap) * 2) 0; */
    display: inline-block;
    vertical-align: top;
    width: calc(50%);
    z-index: 2;
    color: green !important;
}

/* .first-entry .entry-header {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.first-entry .entry-header h1 {
    font-size: 34px;
    line-height: 1.3;
}

.first-entry .entry-content {
    margin: 14px 0;
    margin-left: 1em;
    font-size: 16px;
    -webkit-line-clamp: 3;
} */

/* .first-entry .entry-footer {
    font-size: 14px;
    margin-left: 1em;
} */

.home-info .entry-content {
    -webkit-line-clamp: unset;
}

body::-webkit-scrollbar-button {
	color: transparent;
}

.post-entry {
    position: absolute;
    /* margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform 0.1s;
    border: 1px solid var(--border); */
    display: inline-block;
    vertical-align: top;
    left: 0;
    width: calc(50%);
    margin-left: calc(50%);
}

.post-content {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 20px;
}

/* .post-entry:active {
    transform: scale(0.96);
} */

.tag-entry .entry-cover {
    display: none;
    margin-left: 20px;
}

.entry-header h2 {
    font-size: 15px;
    margin-left: 20px;
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 12px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-left: 20px;
}

.entry-footer {
    color: var(--secondary);
    font-size: 10px;
    margin-left: 20px;
    margin-top: var(--content-gap);
}

.entry-link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.entry-cover,
.entry-isdraft {
    font-size: 14px;
    color: var(--secondary);
}

.entry-cover {
    margin-bottom: var(--gap);
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
}

.entry-cover img {
    /* border-radius: var(--radius); */
    pointer-events: none;
    width: 100%;
    height: auto;
}

.entry-cover a {
    color: var(--secondary);
    /* box-shadow: 0 1px 0 var(--primary); */
    text-decoration: wavy;
}
